.board-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .board {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        gap: 1px;
        padding: 1rem;

        .board-row {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1px;

            .board-node {
                width: 2rem;
                padding-top: 100%;
                position: relative;
                
                &.wordle-yellow {
                    background-color: var(--wordle-yellow);
                }
                &.wordle-grey {
                    background-color: var(--wordle-grey);
                }
                &.wordle-green {
                    background-color: var(--wordle-green);
                }
            }
        }
    }
}

.wordle-art-design-container {
    box-sizing: border-box;
    border: 2px solid var(--background-color, darkgrey);

    &:hover {
        border: 2px solid grey;
        cursor: pointer;
    }

    .wordle-art-design {
        
    }
}
