#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#detailed-container {
    background-color: grey;
    padding: 2rem;
    margin: 2rem;
    border-radius: 1rem;

    display: grid;
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: repeat(2, min-content);
    grid-template-areas: 
        ". . close"
        "header guesses guesses";

    button {
        grid-area: close;
    }

}

#detailed-header {
    grid-area: header;
    display: grid;
    grid-template-rows: repeat(3, min-content);
    row-gap: 1rem;
    align-content: center;

    h2 {

    }
    .wordle-art-design {
        .board-node {
            width: 4rem;
        }
    }
    #detailed-header-name {

    }

    .wordle-art-design {
        border: none;
    }
}

#detailed-guesses {
    grid-area: guesses;
    padding-left: 1rem;
    display: grid;

    .detailed-guess-single {
        display: grid;
        justify-items: start;
        row-gap: 0.5rem;
        padding: 1rem;

        &:not(:last-child) {
            border-bottom: 2px solid var(--base-black, black);
        }

        .detailed-guess-single-row-number {
            font-size: 2.5rem;
        }
        .detailed-guess-single-row-guesses {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;

            span {
                display: inline-block;
                border: 1px solid var(--base-black, black);
                padding: 0.7rem;
                cursor: pointer;

                &.selected {
                    background-color: var(--base-black, black);
                    color: var(--base-white, white);
                }

            }
        }

    }
}
