@use './meyerReset.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --base-white: hsl(0, 0%, 95%);
    --base-black: hsl(0, 0%, 10%);

    --primary: #f16633;
    --secondary: #A52E02;
    --tertiary: #FFA583;

    --wordle-green: #538d4e;
    --wordle-yellow: #b59f3b;
    --wordle-grey: #3a3a3c;

    --background-color: #242424;
}

html {
    font-size: 62.5%; // 1rem = 10px
    box-sizing: border-box;

    color: var(--base-black, black);
    background-color: var(--base-white, white);

    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background-color: var(--background-color, darkgrey);
    //background-image: url('./assets/backgrounds/flat-design-poker-table-background/flat-design-poker-table-background-480x320.jpg');
    background-size: cover;
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;

    color: var(--base-white, white);

    border: 0.7rem solid var(--base-black, black);
}

#root {
    min-height: 100vh;
    width: 100%;
    text-align: center;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
        "header"
        "main"
        "footer";
}

main, footer {
    padding: 1.6rem;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
    font-size: 1.2rem;
    text-align: center;
    display: grid;
    place-items: center;
}
